@import "main/helpers/settings";
@import "main/helpers/functions";

.breadcrumb {
  > li {
    font-style: italic;
    margin-left: calc-ems($default-spacing/4);
    &:first-child {
      margin-left: 0;
    }
  }
}
