<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Checkout Flow</title>
        <link rel="stylesheet" href="./static/css/main.css">
    </head>
    <body>
        <div class="row">
            <div class="large-12 columns">
                <nav class="top-bar">
                    <section class="top-bar-section">
                     <ul class="right">
                      <li><a href="#">Shopping Basket 
                      <strong class="basket-count">{{totalCartCount}}</strong>
                      </a></li>
                    </ul>
                    </section>
                   
                </nav>
            </div>
            <header>
                <h1 class="site-title">{{site.name}}</h1>
            </header>
            <div id="container" class="large-12 columns" data-site="{{siteData}}">
                {{{ content }}}
            </div>
            <footer class="large-12 columns">
                &copy; 2014
            </footer>
        </div>
        <script src="./static/js/vendor-bundle.js"></script>
        <script src="./static/js/app.js"></script>
    </body>
</html>