@import "main/helpers/settings";
@import "main/helpers/mixins";

.cart--proceed {
  padding-top: calc-ems($default-spacing);
}

.cart--summary {
  margin: calc-ems($default-spacing) 0;
  @include hand-touched-border($htb-light-gray, $light-gray);
  overflow: hidden;
  .row {
    padding: calc-ems($default-spacing/2);
    @include hand-touched-border($htb-light-gray, $light-gray);
    border: {
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:first-child {
      border: 0;
    }
  }
}