@import "main/helpers/settings";
@import "main/helpers/functions";
@import "main/helpers/mixins";

.basket--line-items {
  border-top: solid 1px lighten($light-gray, 20%);
  &:first-child {
    border-top: 0;
  }
}

.basket--product {
  padding-top: calc-ems($default-spacing/2);
  padding-bottom: calc-ems($default-spacing/2);
  > label {
    width: 100%;
  }
}

.basket--line-item {
  height: 100%;
  h2 {
    margin: 0;
  }
  .basket--productDetails {
    color: $gray;
  }
}