@import "main/helpers/settings";
@import "main/helpers/functions";
@import "main/helpers/mixins";

.basket--productOptions {
  fieldset, button {
    margin: calc-ems($default-spacing/2) 0;
  }
}

.basket-save-links {
  padding: calc-ems($default-spacing/2) 0;
  font-weight: 500;
}

.basket--controls {
  margin-top: calc-ems($default-spacing);
}