<div class="shipping-sector">
    <form action="">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname">
        <button type="submit">Send</button>
    </form>
</div>