<div class="shipping-sector">
    <h2>Shipping</h2>
    <form>
        <fieldset>
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" />
        </fieldset>
        <fieldset>
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" />
        </fieldset>
        <button type="submit">Send</button>
    </form>
</div>