  $arrow-down-gray-x: 195px;
  $arrow-down-gray-y: 66px;
  $arrow-down-gray-offset-x: -195px;
  $arrow-down-gray-offset-y: -66px;
  $arrow-down-gray-width: 13px;
  $arrow-down-gray-height: 8px;
  $arrow-down-gray-total-width: 210px;
  $arrow-down-gray-total-height: 195px;
  $arrow-down-gray-image: '/images/icons/sprite-icons.png';
  $arrow-down-gray: 195px 66px -195px -66px 13px 8px 210px 195px '/images/icons/sprite-icons.png';
  $arrow-down-pink-x: 195px;
  $arrow-down-pink-y: 82px;
  $arrow-down-pink-offset-x: -195px;
  $arrow-down-pink-offset-y: -82px;
  $arrow-down-pink-width: 13px;
  $arrow-down-pink-height: 8px;
  $arrow-down-pink-total-width: 210px;
  $arrow-down-pink-total-height: 195px;
  $arrow-down-pink-image: '/images/icons/sprite-icons.png';
  $arrow-down-pink: 195px 82px -195px -82px 13px 8px 210px 195px '/images/icons/sprite-icons.png';
  $arrow-down-small-gray-x: 195px;
  $arrow-down-small-gray-y: 110px;
  $arrow-down-small-gray-offset-x: -195px;
  $arrow-down-small-gray-offset-y: -110px;
  $arrow-down-small-gray-width: 8px;
  $arrow-down-small-gray-height: 6px;
  $arrow-down-small-gray-total-width: 210px;
  $arrow-down-small-gray-total-height: 195px;
  $arrow-down-small-gray-image: '/images/icons/sprite-icons.png';
  $arrow-down-small-gray: 195px 110px -195px -110px 8px 6px 210px 195px '/images/icons/sprite-icons.png';
  $arrow-down-small-pink-x: 195px;
  $arrow-down-small-pink-y: 104px;
  $arrow-down-small-pink-offset-x: -195px;
  $arrow-down-small-pink-offset-y: -104px;
  $arrow-down-small-pink-width: 8px;
  $arrow-down-small-pink-height: 6px;
  $arrow-down-small-pink-total-width: 210px;
  $arrow-down-small-pink-total-height: 195px;
  $arrow-down-small-pink-image: '/images/icons/sprite-icons.png';
  $arrow-down-small-pink: 195px 104px -195px -104px 8px 6px 210px 195px '/images/icons/sprite-icons.png';
  $arrow-up-gray-x: 195px;
  $arrow-up-gray-y: 74px;
  $arrow-up-gray-offset-x: -195px;
  $arrow-up-gray-offset-y: -74px;
  $arrow-up-gray-width: 13px;
  $arrow-up-gray-height: 8px;
  $arrow-up-gray-total-width: 210px;
  $arrow-up-gray-total-height: 195px;
  $arrow-up-gray-image: '/images/icons/sprite-icons.png';
  $arrow-up-gray: 195px 74px -195px -74px 13px 8px 210px 195px '/images/icons/sprite-icons.png';
  $arrow-up-pink-x: 195px;
  $arrow-up-pink-y: 90px;
  $arrow-up-pink-offset-x: -195px;
  $arrow-up-pink-offset-y: -90px;
  $arrow-up-pink-width: 13px;
  $arrow-up-pink-height: 8px;
  $arrow-up-pink-total-width: 210px;
  $arrow-up-pink-total-height: 195px;
  $arrow-up-pink-image: '/images/icons/sprite-icons.png';
  $arrow-up-pink: 195px 90px -195px -90px 13px 8px 210px 195px '/images/icons/sprite-icons.png';
  $arrow-up-small-gray-x: 195px;
  $arrow-up-small-gray-y: 116px;
  $arrow-up-small-gray-offset-x: -195px;
  $arrow-up-small-gray-offset-y: -116px;
  $arrow-up-small-gray-width: 8px;
  $arrow-up-small-gray-height: 6px;
  $arrow-up-small-gray-total-width: 210px;
  $arrow-up-small-gray-total-height: 195px;
  $arrow-up-small-gray-image: '/images/icons/sprite-icons.png';
  $arrow-up-small-gray: 195px 116px -195px -116px 8px 6px 210px 195px '/images/icons/sprite-icons.png';
  $arrow-up-small-pink-x: 195px;
  $arrow-up-small-pink-y: 98px;
  $arrow-up-small-pink-offset-x: -195px;
  $arrow-up-small-pink-offset-y: -98px;
  $arrow-up-small-pink-width: 8px;
  $arrow-up-small-pink-height: 6px;
  $arrow-up-small-pink-total-width: 210px;
  $arrow-up-small-pink-total-height: 195px;
  $arrow-up-small-pink-image: '/images/icons/sprite-icons.png';
  $arrow-up-small-pink: 195px 98px -195px -98px 8px 6px 210px 195px '/images/icons/sprite-icons.png';
  $arrows-left-gray-x: 195px;
  $arrows-left-gray-y: 53px;
  $arrows-left-gray-offset-x: -195px;
  $arrows-left-gray-offset-y: -53px;
  $arrows-left-gray-width: 12px;
  $arrows-left-gray-height: 13px;
  $arrows-left-gray-total-width: 210px;
  $arrows-left-gray-total-height: 195px;
  $arrows-left-gray-image: '/images/icons/sprite-icons.png';
  $arrows-left-gray: 195px 53px -195px -53px 12px 13px 210px 195px '/images/icons/sprite-icons.png';
  $arrows-left-pink-x: 195px;
  $arrows-left-pink-y: 14px;
  $arrows-left-pink-offset-x: -195px;
  $arrows-left-pink-offset-y: -14px;
  $arrows-left-pink-width: 12px;
  $arrows-left-pink-height: 13px;
  $arrows-left-pink-total-width: 210px;
  $arrows-left-pink-total-height: 195px;
  $arrows-left-pink-image: '/images/icons/sprite-icons.png';
  $arrows-left-pink: 195px 14px -195px -14px 12px 13px 210px 195px '/images/icons/sprite-icons.png';
  $arrows-right-gray-x: 195px;
  $arrows-right-gray-y: 27px;
  $arrows-right-gray-offset-x: -195px;
  $arrows-right-gray-offset-y: -27px;
  $arrows-right-gray-width: 12px;
  $arrows-right-gray-height: 13px;
  $arrows-right-gray-total-width: 210px;
  $arrows-right-gray-total-height: 195px;
  $arrows-right-gray-image: '/images/icons/sprite-icons.png';
  $arrows-right-gray: 195px 27px -195px -27px 12px 13px 210px 195px '/images/icons/sprite-icons.png';
  $arrows-right-pink-x: 195px;
  $arrows-right-pink-y: 40px;
  $arrows-right-pink-offset-x: -195px;
  $arrows-right-pink-offset-y: -40px;
  $arrows-right-pink-width: 12px;
  $arrows-right-pink-height: 13px;
  $arrows-right-pink-total-width: 210px;
  $arrows-right-pink-total-height: 195px;
  $arrows-right-pink-image: '/images/icons/sprite-icons.png';
  $arrows-right-pink: 195px 40px -195px -40px 12px 13px 210px 195px '/images/icons/sprite-icons.png';
  $facebook-f-x: 0px;
  $facebook-f-y: 130px;
  $facebook-f-offset-x: 0px;
  $facebook-f-offset-y: -130px;
  $facebook-f-width: 41px;
  $facebook-f-height: 41px;
  $facebook-f-total-width: 210px;
  $facebook-f-total-height: 195px;
  $facebook-f-image: '/images/icons/sprite-icons.png';
  $facebook-f: 0px 130px 0px -130px 41px 41px 210px 195px '/images/icons/sprite-icons.png';
  $heart-empty-x: 129px;
  $heart-empty-y: 171px;
  $heart-empty-offset-x: -129px;
  $heart-empty-offset-y: -171px;
  $heart-empty-width: 17px;
  $heart-empty-height: 17px;
  $heart-empty-total-width: 210px;
  $heart-empty-total-height: 195px;
  $heart-empty-image: '/images/icons/sprite-icons.png';
  $heart-empty: 129px 171px -129px -171px 17px 17px 210px 195px '/images/icons/sprite-icons.png';
  $heart-full-x: 112px;
  $heart-full-y: 171px;
  $heart-full-offset-x: -112px;
  $heart-full-offset-y: -171px;
  $heart-full-width: 17px;
  $heart-full-height: 17px;
  $heart-full-total-width: 210px;
  $heart-full-total-height: 195px;
  $heart-full-image: '/images/icons/sprite-icons.png';
  $heart-full: 112px 171px -112px -171px 17px 17px 210px 195px '/images/icons/sprite-icons.png';
  $icon-blog-gray-x: 65px;
  $icon-blog-gray-y: 0px;
  $icon-blog-gray-offset-x: -65px;
  $icon-blog-gray-offset-y: 0px;
  $icon-blog-gray-width: 65px;
  $icon-blog-gray-height: 65px;
  $icon-blog-gray-total-width: 210px;
  $icon-blog-gray-total-height: 195px;
  $icon-blog-gray-image: '/images/icons/sprite-icons.png';
  $icon-blog-gray: 65px 0px -65px 0px 65px 65px 210px 195px '/images/icons/sprite-icons.png';
  $icon-blog-pink-x: 130px;
  $icon-blog-pink-y: 65px;
  $icon-blog-pink-offset-x: -130px;
  $icon-blog-pink-offset-y: -65px;
  $icon-blog-pink-width: 65px;
  $icon-blog-pink-height: 65px;
  $icon-blog-pink-total-width: 210px;
  $icon-blog-pink-total-height: 195px;
  $icon-blog-pink-image: '/images/icons/sprite-icons.png';
  $icon-blog-pink: 130px 65px -130px -65px 65px 65px 210px 195px '/images/icons/sprite-icons.png';
  $icon-fpme-gray-x: 0px;
  $icon-fpme-gray-y: 65px;
  $icon-fpme-gray-offset-x: 0px;
  $icon-fpme-gray-offset-y: -65px;
  $icon-fpme-gray-width: 65px;
  $icon-fpme-gray-height: 65px;
  $icon-fpme-gray-total-width: 210px;
  $icon-fpme-gray-total-height: 195px;
  $icon-fpme-gray-image: '/images/icons/sprite-icons.png';
  $icon-fpme-gray: 0px 65px 0px -65px 65px 65px 210px 195px '/images/icons/sprite-icons.png';
  $icon-fpme-pink-x: 65px;
  $icon-fpme-pink-y: 65px;
  $icon-fpme-pink-offset-x: -65px;
  $icon-fpme-pink-offset-y: -65px;
  $icon-fpme-pink-width: 65px;
  $icon-fpme-pink-height: 65px;
  $icon-fpme-pink-total-width: 210px;
  $icon-fpme-pink-total-height: 195px;
  $icon-fpme-pink-image: '/images/icons/sprite-icons.png';
  $icon-fpme-pink: 65px 65px -65px -65px 65px 65px 210px 195px '/images/icons/sprite-icons.png';
  $icon-fppresents-gray-x: 130px;
  $icon-fppresents-gray-y: 0px;
  $icon-fppresents-gray-offset-x: -130px;
  $icon-fppresents-gray-offset-y: 0px;
  $icon-fppresents-gray-width: 65px;
  $icon-fppresents-gray-height: 65px;
  $icon-fppresents-gray-total-width: 210px;
  $icon-fppresents-gray-total-height: 195px;
  $icon-fppresents-gray-image: '/images/icons/sprite-icons.png';
  $icon-fppresents-gray: 130px 0px -130px 0px 65px 65px 210px 195px '/images/icons/sprite-icons.png';
  $icon-fppresents-pink-x: 0px;
  $icon-fppresents-pink-y: 0px;
  $icon-fppresents-pink-offset-x: 0px;
  $icon-fppresents-pink-offset-y: 0px;
  $icon-fppresents-pink-width: 65px;
  $icon-fppresents-pink-height: 65px;
  $icon-fppresents-pink-total-width: 210px;
  $icon-fppresents-pink-total-height: 195px;
  $icon-fppresents-pink-image: '/images/icons/sprite-icons.png';
  $icon-fppresents-pink: 0px 0px 0px 0px 65px 65px 210px 195px '/images/icons/sprite-icons.png';
  $icon-search-gray-x: 195px;
  $icon-search-gray-y: 0px;
  $icon-search-gray-offset-x: -195px;
  $icon-search-gray-offset-y: 0px;
  $icon-search-gray-width: 15px;
  $icon-search-gray-height: 14px;
  $icon-search-gray-total-width: 210px;
  $icon-search-gray-total-height: 195px;
  $icon-search-gray-image: '/images/icons/sprite-icons.png';
  $icon-search-gray: 195px 0px -195px 0px 15px 14px 210px 195px '/images/icons/sprite-icons.png';
  $icon-search-pink-x: 168px;
  $icon-search-pink-y: 171px;
  $icon-search-pink-offset-x: -168px;
  $icon-search-pink-offset-y: -171px;
  $icon-search-pink-width: 15px;
  $icon-search-pink-height: 14px;
  $icon-search-pink-total-width: 210px;
  $icon-search-pink-total-height: 195px;
  $icon-search-pink-image: '/images/icons/sprite-icons.png';
  $icon-search-pink: 168px 171px -168px -171px 15px 14px 210px 195px '/images/icons/sprite-icons.png';
  $icon-video-pdp-x: 146px;
  $icon-video-pdp-y: 171px;
  $icon-video-pdp-offset-x: -146px;
  $icon-video-pdp-offset-y: -171px;
  $icon-video-pdp-width: 22px;
  $icon-video-pdp-height: 17px;
  $icon-video-pdp-total-width: 210px;
  $icon-video-pdp-total-height: 195px;
  $icon-video-pdp-image: '/images/icons/sprite-icons.png';
  $icon-video-pdp: 146px 171px -146px -171px 22px 17px 210px 195px '/images/icons/sprite-icons.png';
  $logo-fpme-pink-x: 97px;
  $logo-fpme-pink-y: 130px;
  $logo-fpme-pink-offset-x: -97px;
  $logo-fpme-pink-offset-y: -130px;
  $logo-fpme-pink-width: 72px;
  $logo-fpme-pink-height: 24px;
  $logo-fpme-pink-total-width: 210px;
  $logo-fpme-pink-total-height: 195px;
  $logo-fpme-pink-image: '/images/icons/sprite-icons.png';
  $logo-fpme-pink: 97px 130px -97px -130px 72px 24px 210px 195px '/images/icons/sprite-icons.png';
  $logo-fpme-rainbow-x: 0px;
  $logo-fpme-rainbow-y: 171px;
  $logo-fpme-rainbow-offset-x: 0px;
  $logo-fpme-rainbow-offset-y: -171px;
  $logo-fpme-rainbow-width: 72px;
  $logo-fpme-rainbow-height: 24px;
  $logo-fpme-rainbow-total-width: 210px;
  $logo-fpme-rainbow-total-height: 195px;
  $logo-fpme-rainbow-image: '/images/icons/sprite-icons.png';
  $logo-fpme-rainbow: 0px 171px 0px -171px 72px 24px 210px 195px '/images/icons/sprite-icons.png';
  $radio-checked-blue-x: 69px;
  $radio-checked-blue-y: 130px;
  $radio-checked-blue-offset-x: -69px;
  $radio-checked-blue-offset-y: -130px;
  $radio-checked-blue-width: 28px;
  $radio-checked-blue-height: 28px;
  $radio-checked-blue-total-width: 210px;
  $radio-checked-blue-total-height: 195px;
  $radio-checked-blue-image: '/images/icons/sprite-icons.png';
  $radio-checked-blue: 69px 130px -69px -130px 28px 28px 210px 195px '/images/icons/sprite-icons.png';
  $radio-checked-x: 41px;
  $radio-checked-y: 130px;
  $radio-checked-offset-x: -41px;
  $radio-checked-offset-y: -130px;
  $radio-checked-width: 28px;
  $radio-checked-height: 28px;
  $radio-checked-total-width: 210px;
  $radio-checked-total-height: 195px;
  $radio-checked-image: '/images/icons/sprite-icons.png';
  $radio-checked: 41px 130px -41px -130px 28px 28px 210px 195px '/images/icons/sprite-icons.png';
  $star-empty-x: 72px;
  $star-empty-y: 171px;
  $star-empty-offset-x: -72px;
  $star-empty-offset-y: -171px;
  $star-empty-width: 20px;
  $star-empty-height: 20px;
  $star-empty-total-width: 210px;
  $star-empty-total-height: 195px;
  $star-empty-image: '/images/icons/sprite-icons.png';
  $star-empty: 72px 171px -72px -171px 20px 20px 210px 195px '/images/icons/sprite-icons.png';
  $star-full-x: 169px;
  $star-full-y: 130px;
  $star-full-offset-x: -169px;
  $star-full-offset-y: -130px;
  $star-full-width: 20px;
  $star-full-height: 20px;
  $star-full-total-width: 210px;
  $star-full-total-height: 195px;
  $star-full-image: '/images/icons/sprite-icons.png';
  $star-full: 169px 130px -169px -130px 20px 20px 210px 195px '/images/icons/sprite-icons.png';
  $star-half-x: 92px;
  $star-half-y: 171px;
  $star-half-offset-x: -92px;
  $star-half-offset-y: -171px;
  $star-half-width: 20px;
  $star-half-height: 20px;
  $star-half-total-width: 210px;
  $star-half-total-height: 195px;
  $star-half-image: '/images/icons/sprite-icons.png';
  $star-half: 92px 171px -92px -171px 20px 20px 210px 195px '/images/icons/sprite-icons.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
