  $arrow-down-gray2x-x: 390px;
  $arrow-down-gray2x-y: 132px;
  $arrow-down-gray2x-offset-x: -390px;
  $arrow-down-gray2x-offset-y: -132px;
  $arrow-down-gray2x-width: 26px;
  $arrow-down-gray2x-height: 16px;
  $arrow-down-gray2x-total-width: 420px;
  $arrow-down-gray2x-total-height: 390px;
  $arrow-down-gray2x-image: '/images/icons/sprite-icons2x.png';
  $arrow-down-gray2x: 390px 132px -390px -132px 26px 16px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrow-down-pink2x-x: 390px;
  $arrow-down-pink2x-y: 164px;
  $arrow-down-pink2x-offset-x: -390px;
  $arrow-down-pink2x-offset-y: -164px;
  $arrow-down-pink2x-width: 26px;
  $arrow-down-pink2x-height: 16px;
  $arrow-down-pink2x-total-width: 420px;
  $arrow-down-pink2x-total-height: 390px;
  $arrow-down-pink2x-image: '/images/icons/sprite-icons2x.png';
  $arrow-down-pink2x: 390px 164px -390px -164px 26px 16px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrow-down-small-gray2x-x: 390px;
  $arrow-down-small-gray2x-y: 220px;
  $arrow-down-small-gray2x-offset-x: -390px;
  $arrow-down-small-gray2x-offset-y: -220px;
  $arrow-down-small-gray2x-width: 16px;
  $arrow-down-small-gray2x-height: 12px;
  $arrow-down-small-gray2x-total-width: 420px;
  $arrow-down-small-gray2x-total-height: 390px;
  $arrow-down-small-gray2x-image: '/images/icons/sprite-icons2x.png';
  $arrow-down-small-gray2x: 390px 220px -390px -220px 16px 12px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrow-down-small-pink2x-x: 390px;
  $arrow-down-small-pink2x-y: 208px;
  $arrow-down-small-pink2x-offset-x: -390px;
  $arrow-down-small-pink2x-offset-y: -208px;
  $arrow-down-small-pink2x-width: 16px;
  $arrow-down-small-pink2x-height: 12px;
  $arrow-down-small-pink2x-total-width: 420px;
  $arrow-down-small-pink2x-total-height: 390px;
  $arrow-down-small-pink2x-image: '/images/icons/sprite-icons2x.png';
  $arrow-down-small-pink2x: 390px 208px -390px -208px 16px 12px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrow-up-gray2x-x: 390px;
  $arrow-up-gray2x-y: 148px;
  $arrow-up-gray2x-offset-x: -390px;
  $arrow-up-gray2x-offset-y: -148px;
  $arrow-up-gray2x-width: 26px;
  $arrow-up-gray2x-height: 16px;
  $arrow-up-gray2x-total-width: 420px;
  $arrow-up-gray2x-total-height: 390px;
  $arrow-up-gray2x-image: '/images/icons/sprite-icons2x.png';
  $arrow-up-gray2x: 390px 148px -390px -148px 26px 16px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrow-up-pink2x-x: 390px;
  $arrow-up-pink2x-y: 180px;
  $arrow-up-pink2x-offset-x: -390px;
  $arrow-up-pink2x-offset-y: -180px;
  $arrow-up-pink2x-width: 26px;
  $arrow-up-pink2x-height: 16px;
  $arrow-up-pink2x-total-width: 420px;
  $arrow-up-pink2x-total-height: 390px;
  $arrow-up-pink2x-image: '/images/icons/sprite-icons2x.png';
  $arrow-up-pink2x: 390px 180px -390px -180px 26px 16px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrow-up-small-gray2x-x: 390px;
  $arrow-up-small-gray2x-y: 232px;
  $arrow-up-small-gray2x-offset-x: -390px;
  $arrow-up-small-gray2x-offset-y: -232px;
  $arrow-up-small-gray2x-width: 16px;
  $arrow-up-small-gray2x-height: 12px;
  $arrow-up-small-gray2x-total-width: 420px;
  $arrow-up-small-gray2x-total-height: 390px;
  $arrow-up-small-gray2x-image: '/images/icons/sprite-icons2x.png';
  $arrow-up-small-gray2x: 390px 232px -390px -232px 16px 12px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrow-up-small-pink2x-x: 390px;
  $arrow-up-small-pink2x-y: 196px;
  $arrow-up-small-pink2x-offset-x: -390px;
  $arrow-up-small-pink2x-offset-y: -196px;
  $arrow-up-small-pink2x-width: 16px;
  $arrow-up-small-pink2x-height: 12px;
  $arrow-up-small-pink2x-total-width: 420px;
  $arrow-up-small-pink2x-total-height: 390px;
  $arrow-up-small-pink2x-image: '/images/icons/sprite-icons2x.png';
  $arrow-up-small-pink2x: 390px 196px -390px -196px 16px 12px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrows-left-gray2x-x: 390px;
  $arrows-left-gray2x-y: 106px;
  $arrows-left-gray2x-offset-x: -390px;
  $arrows-left-gray2x-offset-y: -106px;
  $arrows-left-gray2x-width: 24px;
  $arrows-left-gray2x-height: 26px;
  $arrows-left-gray2x-total-width: 420px;
  $arrows-left-gray2x-total-height: 390px;
  $arrows-left-gray2x-image: '/images/icons/sprite-icons2x.png';
  $arrows-left-gray2x: 390px 106px -390px -106px 24px 26px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrows-left-pink2x-x: 390px;
  $arrows-left-pink2x-y: 28px;
  $arrows-left-pink2x-offset-x: -390px;
  $arrows-left-pink2x-offset-y: -28px;
  $arrows-left-pink2x-width: 24px;
  $arrows-left-pink2x-height: 26px;
  $arrows-left-pink2x-total-width: 420px;
  $arrows-left-pink2x-total-height: 390px;
  $arrows-left-pink2x-image: '/images/icons/sprite-icons2x.png';
  $arrows-left-pink2x: 390px 28px -390px -28px 24px 26px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrows-right-gray2x-x: 390px;
  $arrows-right-gray2x-y: 54px;
  $arrows-right-gray2x-offset-x: -390px;
  $arrows-right-gray2x-offset-y: -54px;
  $arrows-right-gray2x-width: 24px;
  $arrows-right-gray2x-height: 26px;
  $arrows-right-gray2x-total-width: 420px;
  $arrows-right-gray2x-total-height: 390px;
  $arrows-right-gray2x-image: '/images/icons/sprite-icons2x.png';
  $arrows-right-gray2x: 390px 54px -390px -54px 24px 26px 420px 390px '/images/icons/sprite-icons2x.png';
  $arrows-right-pink2x-x: 390px;
  $arrows-right-pink2x-y: 80px;
  $arrows-right-pink2x-offset-x: -390px;
  $arrows-right-pink2x-offset-y: -80px;
  $arrows-right-pink2x-width: 24px;
  $arrows-right-pink2x-height: 26px;
  $arrows-right-pink2x-total-width: 420px;
  $arrows-right-pink2x-total-height: 390px;
  $arrows-right-pink2x-image: '/images/icons/sprite-icons2x.png';
  $arrows-right-pink2x: 390px 80px -390px -80px 24px 26px 420px 390px '/images/icons/sprite-icons2x.png';
  $facebook-f2x-x: 0px;
  $facebook-f2x-y: 260px;
  $facebook-f2x-offset-x: 0px;
  $facebook-f2x-offset-y: -260px;
  $facebook-f2x-width: 82px;
  $facebook-f2x-height: 82px;
  $facebook-f2x-total-width: 420px;
  $facebook-f2x-total-height: 390px;
  $facebook-f2x-image: '/images/icons/sprite-icons2x.png';
  $facebook-f2x: 0px 260px 0px -260px 82px 82px 420px 390px '/images/icons/sprite-icons2x.png';
  $heart-empty2x-x: 258px;
  $heart-empty2x-y: 342px;
  $heart-empty2x-offset-x: -258px;
  $heart-empty2x-offset-y: -342px;
  $heart-empty2x-width: 34px;
  $heart-empty2x-height: 34px;
  $heart-empty2x-total-width: 420px;
  $heart-empty2x-total-height: 390px;
  $heart-empty2x-image: '/images/icons/sprite-icons2x.png';
  $heart-empty2x: 258px 342px -258px -342px 34px 34px 420px 390px '/images/icons/sprite-icons2x.png';
  $heart-full2x-x: 224px;
  $heart-full2x-y: 342px;
  $heart-full2x-offset-x: -224px;
  $heart-full2x-offset-y: -342px;
  $heart-full2x-width: 34px;
  $heart-full2x-height: 34px;
  $heart-full2x-total-width: 420px;
  $heart-full2x-total-height: 390px;
  $heart-full2x-image: '/images/icons/sprite-icons2x.png';
  $heart-full2x: 224px 342px -224px -342px 34px 34px 420px 390px '/images/icons/sprite-icons2x.png';
  $icon-blog-gray2x-x: 130px;
  $icon-blog-gray2x-y: 0px;
  $icon-blog-gray2x-offset-x: -130px;
  $icon-blog-gray2x-offset-y: 0px;
  $icon-blog-gray2x-width: 130px;
  $icon-blog-gray2x-height: 130px;
  $icon-blog-gray2x-total-width: 420px;
  $icon-blog-gray2x-total-height: 390px;
  $icon-blog-gray2x-image: '/images/icons/sprite-icons2x.png';
  $icon-blog-gray2x: 130px 0px -130px 0px 130px 130px 420px 390px '/images/icons/sprite-icons2x.png';
  $icon-blog-pink2x-x: 260px;
  $icon-blog-pink2x-y: 130px;
  $icon-blog-pink2x-offset-x: -260px;
  $icon-blog-pink2x-offset-y: -130px;
  $icon-blog-pink2x-width: 130px;
  $icon-blog-pink2x-height: 130px;
  $icon-blog-pink2x-total-width: 420px;
  $icon-blog-pink2x-total-height: 390px;
  $icon-blog-pink2x-image: '/images/icons/sprite-icons2x.png';
  $icon-blog-pink2x: 260px 130px -260px -130px 130px 130px 420px 390px '/images/icons/sprite-icons2x.png';
  $icon-fpme-gray2x-x: 0px;
  $icon-fpme-gray2x-y: 130px;
  $icon-fpme-gray2x-offset-x: 0px;
  $icon-fpme-gray2x-offset-y: -130px;
  $icon-fpme-gray2x-width: 130px;
  $icon-fpme-gray2x-height: 130px;
  $icon-fpme-gray2x-total-width: 420px;
  $icon-fpme-gray2x-total-height: 390px;
  $icon-fpme-gray2x-image: '/images/icons/sprite-icons2x.png';
  $icon-fpme-gray2x: 0px 130px 0px -130px 130px 130px 420px 390px '/images/icons/sprite-icons2x.png';
  $icon-fpme-pink2x-x: 130px;
  $icon-fpme-pink2x-y: 130px;
  $icon-fpme-pink2x-offset-x: -130px;
  $icon-fpme-pink2x-offset-y: -130px;
  $icon-fpme-pink2x-width: 130px;
  $icon-fpme-pink2x-height: 130px;
  $icon-fpme-pink2x-total-width: 420px;
  $icon-fpme-pink2x-total-height: 390px;
  $icon-fpme-pink2x-image: '/images/icons/sprite-icons2x.png';
  $icon-fpme-pink2x: 130px 130px -130px -130px 130px 130px 420px 390px '/images/icons/sprite-icons2x.png';
  $icon-fppresents-gray2x-x: 260px;
  $icon-fppresents-gray2x-y: 0px;
  $icon-fppresents-gray2x-offset-x: -260px;
  $icon-fppresents-gray2x-offset-y: 0px;
  $icon-fppresents-gray2x-width: 130px;
  $icon-fppresents-gray2x-height: 130px;
  $icon-fppresents-gray2x-total-width: 420px;
  $icon-fppresents-gray2x-total-height: 390px;
  $icon-fppresents-gray2x-image: '/images/icons/sprite-icons2x.png';
  $icon-fppresents-gray2x: 260px 0px -260px 0px 130px 130px 420px 390px '/images/icons/sprite-icons2x.png';
  $icon-fppresents-pink2x-x: 0px;
  $icon-fppresents-pink2x-y: 0px;
  $icon-fppresents-pink2x-offset-x: 0px;
  $icon-fppresents-pink2x-offset-y: 0px;
  $icon-fppresents-pink2x-width: 130px;
  $icon-fppresents-pink2x-height: 130px;
  $icon-fppresents-pink2x-total-width: 420px;
  $icon-fppresents-pink2x-total-height: 390px;
  $icon-fppresents-pink2x-image: '/images/icons/sprite-icons2x.png';
  $icon-fppresents-pink2x: 0px 0px 0px 0px 130px 130px 420px 390px '/images/icons/sprite-icons2x.png';
  $icon-search-gray2x-x: 390px;
  $icon-search-gray2x-y: 0px;
  $icon-search-gray2x-offset-x: -390px;
  $icon-search-gray2x-offset-y: 0px;
  $icon-search-gray2x-width: 30px;
  $icon-search-gray2x-height: 28px;
  $icon-search-gray2x-total-width: 420px;
  $icon-search-gray2x-total-height: 390px;
  $icon-search-gray2x-image: '/images/icons/sprite-icons2x.png';
  $icon-search-gray2x: 390px 0px -390px 0px 30px 28px 420px 390px '/images/icons/sprite-icons2x.png';
  $icon-search-pink2x-x: 336px;
  $icon-search-pink2x-y: 342px;
  $icon-search-pink2x-offset-x: -336px;
  $icon-search-pink2x-offset-y: -342px;
  $icon-search-pink2x-width: 30px;
  $icon-search-pink2x-height: 28px;
  $icon-search-pink2x-total-width: 420px;
  $icon-search-pink2x-total-height: 390px;
  $icon-search-pink2x-image: '/images/icons/sprite-icons2x.png';
  $icon-search-pink2x: 336px 342px -336px -342px 30px 28px 420px 390px '/images/icons/sprite-icons2x.png';
  $icon-video-pdp2x-x: 292px;
  $icon-video-pdp2x-y: 342px;
  $icon-video-pdp2x-offset-x: -292px;
  $icon-video-pdp2x-offset-y: -342px;
  $icon-video-pdp2x-width: 44px;
  $icon-video-pdp2x-height: 34px;
  $icon-video-pdp2x-total-width: 420px;
  $icon-video-pdp2x-total-height: 390px;
  $icon-video-pdp2x-image: '/images/icons/sprite-icons2x.png';
  $icon-video-pdp2x: 292px 342px -292px -342px 44px 34px 420px 390px '/images/icons/sprite-icons2x.png';
  $logo-fpme-pink2x-x: 194px;
  $logo-fpme-pink2x-y: 260px;
  $logo-fpme-pink2x-offset-x: -194px;
  $logo-fpme-pink2x-offset-y: -260px;
  $logo-fpme-pink2x-width: 144px;
  $logo-fpme-pink2x-height: 48px;
  $logo-fpme-pink2x-total-width: 420px;
  $logo-fpme-pink2x-total-height: 390px;
  $logo-fpme-pink2x-image: '/images/icons/sprite-icons2x.png';
  $logo-fpme-pink2x: 194px 260px -194px -260px 144px 48px 420px 390px '/images/icons/sprite-icons2x.png';
  $logo-fpme-rainbow2x-x: 0px;
  $logo-fpme-rainbow2x-y: 342px;
  $logo-fpme-rainbow2x-offset-x: 0px;
  $logo-fpme-rainbow2x-offset-y: -342px;
  $logo-fpme-rainbow2x-width: 144px;
  $logo-fpme-rainbow2x-height: 48px;
  $logo-fpme-rainbow2x-total-width: 420px;
  $logo-fpme-rainbow2x-total-height: 390px;
  $logo-fpme-rainbow2x-image: '/images/icons/sprite-icons2x.png';
  $logo-fpme-rainbow2x: 0px 342px 0px -342px 144px 48px 420px 390px '/images/icons/sprite-icons2x.png';
  $radio-checked-blue2x-x: 138px;
  $radio-checked-blue2x-y: 260px;
  $radio-checked-blue2x-offset-x: -138px;
  $radio-checked-blue2x-offset-y: -260px;
  $radio-checked-blue2x-width: 56px;
  $radio-checked-blue2x-height: 56px;
  $radio-checked-blue2x-total-width: 420px;
  $radio-checked-blue2x-total-height: 390px;
  $radio-checked-blue2x-image: '/images/icons/sprite-icons2x.png';
  $radio-checked-blue2x: 138px 260px -138px -260px 56px 56px 420px 390px '/images/icons/sprite-icons2x.png';
  $radio-checked2x-x: 82px;
  $radio-checked2x-y: 260px;
  $radio-checked2x-offset-x: -82px;
  $radio-checked2x-offset-y: -260px;
  $radio-checked2x-width: 56px;
  $radio-checked2x-height: 56px;
  $radio-checked2x-total-width: 420px;
  $radio-checked2x-total-height: 390px;
  $radio-checked2x-image: '/images/icons/sprite-icons2x.png';
  $radio-checked2x: 82px 260px -82px -260px 56px 56px 420px 390px '/images/icons/sprite-icons2x.png';
  $star-empty2x-x: 144px;
  $star-empty2x-y: 342px;
  $star-empty2x-offset-x: -144px;
  $star-empty2x-offset-y: -342px;
  $star-empty2x-width: 40px;
  $star-empty2x-height: 40px;
  $star-empty2x-total-width: 420px;
  $star-empty2x-total-height: 390px;
  $star-empty2x-image: '/images/icons/sprite-icons2x.png';
  $star-empty2x: 144px 342px -144px -342px 40px 40px 420px 390px '/images/icons/sprite-icons2x.png';
  $star-full2x-x: 338px;
  $star-full2x-y: 260px;
  $star-full2x-offset-x: -338px;
  $star-full2x-offset-y: -260px;
  $star-full2x-width: 40px;
  $star-full2x-height: 40px;
  $star-full2x-total-width: 420px;
  $star-full2x-total-height: 390px;
  $star-full2x-image: '/images/icons/sprite-icons2x.png';
  $star-full2x: 338px 260px -338px -260px 40px 40px 420px 390px '/images/icons/sprite-icons2x.png';
  $star-half2x-x: 184px;
  $star-half2x-y: 342px;
  $star-half2x-offset-x: -184px;
  $star-half2x-offset-y: -342px;
  $star-half2x-width: 40px;
  $star-half2x-height: 40px;
  $star-half2x-total-width: 420px;
  $star-half2x-total-height: 390px;
  $star-half2x-image: '/images/icons/sprite-icons2x.png';
  $star-half2x: 184px 342px -184px -342px 40px 40px 420px 390px '/images/icons/sprite-icons2x.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
