@import "main/helpers/functions";
@import "main/helpers/settings";

body {
  background: url('http://www.freepeople.com/content/reskins/2014/08-aug/AugustReskin-Header.jpg') no-repeat top center;
}

#shell {
  height: 100%;
}

.main-content {
  position: relative;
  padding: calc-ems($default-spacing * 4) 0;
  height: 100%;
  overflow: hidden;
  &.has-searchbar {
    padding: calc-ems(($default-spacing * 7) 0 ($default-spacing * 4) 0);
  }
}