<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Checkout Flow</title>
        <!-- Just for the POC -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css">
        <!-- End Just for the POC -->
    </head>
    <body>
        <div class="row">
            <div class="large-12 columns">
                <nav class="top-bar">
                    <secton class="top-bar-section">
                    <ul class="left">
                        <li>
                            <a href="/basket">Basket</a>
                        </li>
                        <li>
                            <a href="/shipping">Shipping</a>
                        </li>
                    </ul>
                    </secton>
                </nav>
            </div>
            <div id="container" class="large-12 columns">
                {{{ content }}}
            </div>
            <footer class="large-12 columns">
                &copy; 2014
            </footer>
        </div>
        <script src="./static/js/vendor-bundle.js"></script>
        <script src="./static/js/app.js"></script>
    </body>
</html>