<div class="shipping-sector">
    <h3>About Us</h3>
    <p>
        {{basket.about}}
    </p>
    <ul>
        {{#each basket.friends}}
        <li>
            {{name}} {{@index}}
        </li>
        {{/each}}
    </ul>
    <img src="{{basket.picture}}" />
</div>